<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Interrupt.IrcBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Interrupt.IrcBot.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value>DotNetIrcBot</value>
            </setting>
            <setting name="nick" serializeAs="String">
                <value>DotNetIrcBot</value>
            </setting>
            <setting name="channel" serializeAs="String">
                <value>#tech</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="logDirectory" serializeAs="String">
                <value>C:\tmp\logs</value>
            </setting>
        </Interrupt.IrcBot.Properties.Settings>
    </applicationSettings>
</configuration>